<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Form</title>
</head>



</head>
<body>

	<!-- importing header -->
<th:block th:insert="Header.html"></th:block>
	
	     <div class="container-fluid">
			 <div class="card">
				   <div class="card-header bg-primary text-center text-white">
					   <h5>Employee Details</h5>
				   </div>
				   
				   <div class="card-body">
					   
					  <form action="/employee" method="post"> 
					   
					   <div class="row p-2">
						     <div class="col-4">
								 First Name
							 </div>
						     <div class="col-6">
								 <input type="text" name="fname" class="form-control">
							 </div>
					   </div>
					   
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Last Name
							 </div>
						     <div class="col-6">
								 <input type="text" name="lname" class="form-control">
							 </div>
					   </div>
					   
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Gender
							 </div>
						     <div class="col-6">
								 <input type="radio" name="gender" value="male"> Male
								 <input type="radio" name="gender" value="female"> Female
								 <input type="radio" name="gender" value="others"> Others
							 </div>
					   </div>
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Date of Birth
							 </div>
						     <div class="col-6">
								 <input type="date" name="dob" class="form-control">
							 </div>
					   </div>
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Phone
							 </div>
						     <div class="col-6">
								 <input type="text" name="phone" class="form-control">
							 </div>
					   </div>
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Email
							 </div>
						     <div class="col-6">
								 <input type="text" name="email" class="form-control">
							 </div>
					   </div>
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Company Name
							 </div>
						     <div class="col-6">
								 <input type="text" name="companyName" class="form-control">
							 </div>
					   </div>
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Post
							 </div>
						     <div class="col-6">
								 <input type="text" name="post" class="form-control">
							 </div>
					   </div>
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Salary
							 </div>
						     <div class="col-6">
								 <input type="number" name="salary" class="form-control">
							 </div>
					   </div>
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Join Date
							 </div>
						     <div class="col-6">
								 <input type="date" name="joindate" class="form-control">
							 </div>
					   </div>
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Country
							 </div>
						     <div class="col-6">
								 <input type="text" name="address.country" class="form-control">
							 </div>
					   </div>
					   
					   <div class="row p-2">
						     <div class="col-4">
								 City
							 </div>
						     <div class="col-6">
								 <input type="text" name="address.city" class="form-control">
							 </div>
					   </div>
					   
					     <div class="row p-2">
						     <div class="col-4">
								 State
							 </div>
						     <div class="col-6">
								 <select name="address.state" class="form-control">
								 
								 <option value = "">select</option>
								 <option value = "state-1">state-1</option>
								 <option value = "state-2">state-2</option>
								 <option value = "state-3">state-3</option>
								 <option value = "state-4">state-4</option>
								 <option value = "state-5">state-5</option>
								 <option value = "state-6">state-6</option>
								 <option value = "state-7">state-7</option>
								 </select>
								 
							 </div>
					   </div>
					   
					   
					    <div class="row p-2">
						     <div class="col-4">
								 Zipcode
							 </div>
						     <div class="col-6">
								 <input type="text" name="address.zipcode" class="form-control">
							 </div>
					   </div>
					   
					   
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Departments
							 </div>
							 
						     <div class="col-6">
								 <select name="departments"  class="form-control">
								 <option value ="">select</option>
								 <option th:each="d : ${dlist}" th:value = "${d.id}">[[${d.dept_name}]] </option>
								 </select>
								 
							 </div>
					   </div>
					   
					   <div class="row p-2">
						     <div class="col-4">
								 Projects
							 </div>
						     <div class="col-6">
								 <input type="checkbox" name="projects" value="project-1"> Project-1
								 <input type="checkbox" name="projects" value="project-2"> Project-2
								 <input type="checkbox" name="projects" value="project-3"> Project-3
								 <input type="checkbox" name="projects" value="project-4"> Project-4
								 <input type="checkbox" name="projects" value="project-5"> Project-5
							 </div>
					   </div>
					   
					   
					    
					   <div class="row p-2">
						     <div class="col-4">
							 </div>
						     <div class="col-6">
								 <input type="submit" value="Add" class="btn btn-success">
							 </div>
					   </div>
					   
					 </form>  
					   
				   </div>
				   
				   
				   <div class="card-footer bg-warning text-center">
					   copyright@2024
				   </div>
			 </div>
		 </div>






</body>



</html>