<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gallery</title>
</head>
<body>

	<!-- importing header -->
<th:block th:insert="Header.html"></th:block>  
	
	     <div class="container-fluid">
			 <div class="card">
				   <div class="card-header bg-primary text-center text-white">
					   <h5>Image Gallery</h5>
				   </div>
				   
				   <div class="card-body">
					   
			<span th:each="imgname : ${imgList}">
					<img th:src="@{'/image/' + ${imgname}}" width="300" height = "480">
				</span>		 	 
					 
					 
					 
					 					   
				   </div>
				   
				   
				   <div class="card-footer bg-warning text-center">
					   copyright@2024
				   </div>
			 </div>
		 </div>






</body>
</html>